body {
    background-color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    transition: 0.5s;
    font-size: 100%;
    color:rgb(47, 43, 66) 
}

a.topnav {
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 50px;
}

p.topnav {
    text-align: center;
}

h1 {
    text-align: center;
}
.powerOff{
    color:rgb(47, 43, 66) 
}

.powerOn{
    color:rgb(0, 0, 0) 
}


p.sneaky{
    color: #000000;
}